*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login{
    max-width: 400px;
    display: flex;
    margin: 30px auto ;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
  }

  .register{
    max-width: 400px;
    display: flex;
    margin: 30px auto ;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
  }