.image{
    height: 25px;
    width: 25px;
}

button{
    height: 25px;
    width: 150px;
    border-radius: 12px;
    padding: 2.8px;
    margin-top: 0.5rem;
    margin-left: -1.5rem;
}

.button1{
    padding-left: 2rem;
}

.button2{
    padding-left: 2rem;
    padding-top: 7px;
}

.button1-color{
     background-color: blue;
     color: white;
     border-color: blue;
}

.button2-color{
    color: blue;
    border-color: blue;
    background-color: white;
}