* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

.card {
    color: #CFDBFD;
    background-color: #063DF6;
    padding: 10px;
    width: 500px;
    height: 150px;
    border-radius: 10px;
}

.card-header {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;

}

#dropdown {
    padding: 5px;
    border: 1px solid #CFDBFD;
    border-radius: 10px;
    color: #CFDBFD;
    background-color: #063DF6;
}

.img {
    width: 20px;
    height: 20px;
}

#cb {
    font-size: 25px;
}
#cb span{
    padding-left: 5px;
}

.amnt sub {
    color: #2ecd73;
}

.compare {
    color: #2F67FD;
}

.balance-footer {
    display: flex;
}

.mid-balance{
    border-left: 1px solid #CFDBFD ;
    border-right: 1px solid #CFDBFD ;
    padding: 0 5px;
}

.balance-type{
    margin: 10px;
}

.type-balance {
    color: #2F67FD;
}