.frame {
  color: black;
  background-color: white;
  height: 400px;
  width: 280px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.text {
  color: black;
  margin-left: 30px;

}

.exchange-img {
  width: 20px;
  height: 20px;
  transform: translate(0, 30%);
}

.buttons {
  margin: 10px;
  border-radius: 15px;
  background-color: #F8F9FA;
  display: flex;
  justify-content: space-around;
}

.buy-button,
.sell-button {
  padding: 10px;
  margin: 0px;
  background-color: #F8F9FA;
  color: #313131;
  border: none;
}


.from {
  margin-left: 30px;
  margin-top: 10px;
}

.exchange-select{
  margin: 10px;
}

#type-select {
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 16px;
  padding: 6px 12px;
  width: 200px;
  background-color: rgba(246, 246, 235, 0);
}

.cost-input {
  height: 30px;
  width: 170px;
  border: none;
  border-radius: 5px;
  background-color: rgba(246, 246, 235, 0);
}

.exchange-bs-btn{
  display: flex;
  align-items: center;
  justify-content: center;



}
.end-button {
  width: 100px;
  padding: 10px;
  background-color: #063DF6;
  color: white;
  border: none;
  border-radius: 5px;
}

.end-button:hover {
  background-color: #0056b3;
}

.tab-titles {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
}

.tab-links {
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-link.active-link::after {
  width: 50%;
}

.tab-c {
  list-style: none;
  margin: 10px 0;
}


.tab-c {
  display: none;
}

.tab-c.active-tab {
  display: block;

}

.to-amnt {
  background-color: #F8F9FA;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}

.to-amnt-span {
  color: #A6ABB1;
}